@charset "UTF-8";
/* @import url("dingbat_xeicon.css"); */
@import url("header.css");
@import url("footer.css");
/* @font-face {
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
} */
.madal {
  width: 100%;
  position: relative;
}
.modal-bg {
  width: 100%;
}
.modal-bg2 {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
}
/* 위치 */

#r_event{
  width: 500px;
  height: 500px;
 background-color: #67d9fd;
 position: absolute;
 top: 12%;
 left: 0;
}
/* 룰렛 */

.roulette-wrapper {
  position: relative;
  width: 100%;
  
  
}

#start-rotate {
 
  
}
#roulette-gift {
  z-index: 2;
  width: 100%;
  /* max-width: 880px; */
  position: absolute;
  top: 0;
  left: 0;
  
  
}

#roulette-niddle {
  z-index: 3;
  width: 7%;
  /* max-width: 30px; */
  position: absolute;
  /* top: -6300%; */
  top: 10%;
  left: 50%;
  transform: translateX(-51%);
}
#roulette-startBtn {
  z-index: 3;
  cursor: pointer;
  width: 10%;
  /* max-width: 132px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: 65.5%; */
  /* left: 27.7%; */
  display: block;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    /* 예제에서는 1800도 회전 후 추가 각도로 정지하도록 설정됩니다.
       실제 사용 시에는 JavaScript 코드에서 동적으로 이 값을 조정합니다. */
    transform: rotate(1980deg); /* 360 * 5 + 180 예시 */
  }
}

/* 이벤트 결과창 */

.resultLayer {
  width: 450px;
  height: 700px;
  display: none;
  z-index: 10;
  position: absolute;
  left: 35%;
  top: -1100px;

  background-color: #c0f0ff;
  border-radius: 25px;
  border: 15px solid #67d9fd;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
  /* overflow: hidden; */
}
.result {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
}
.congra {
  text-align: center;
  margin-top: 45px;
  font-weight: bold;
  font-size: 20px;
  color: #111;
}
.result-ul {
  align-items: center;
  margin: auto;
}
.result .resultImg {
  width: 160px;
  margin: 30px auto;
  display: block;
}
.result legend {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
}
.result form {
  width: 80%;
  padding: 5px 10px;
  height: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.result fieldset {
  /* border: 1px solid #c0c0c0; */
  /* padding: 30px 20px 30px 30px; */
  /* margin-bottom: 35px; */
}
.result li {
  display: flex;
  /* gap: 5px; */
  /* background-color: #f1b775; */
  text-align: right;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
}
.result li .field {
  margin: auto;
}

.result .input-box {
  width: 180px;
  height: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  /* margin:10px 0; */
  /* float:left;    */
}
.result form > fieldset > p {
  margin-bottom: 5%;
  color: #111;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
}

.resultOk {
  display: block;
  width: 150px;
  line-height: 35px;
  /* font-family: "Gothic A1", sans-serif; */
  font-weight: 700;
  font-size: 1em;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffd700;
  color: #111;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.192);
}
/*반응형*/
@media screen and (max-width: 768px) {
  .modal-bg2 {
    display: block;
  }
  .modal-bg {
    display: none;
  }
  #roulette-gift {
    width: 95%;
    top: 30%;
    left: 3%;
  }
  #roulette-niddle {
    width: 7%;
    top: 36%;
    left: 47%;
  }
  #roulette-startBtn {
    width: 13%;
    top: 62.5%;
    left: 44.5%;
  }
  .resultLayer {
    width: 360px;
    height: 580px;
    left: 25%;
    top: -900px;
    border: 10px solid #67d9fd;
  }
  .congra {
    margin-top: 30px;
    font-size: 16px;
  }
  .result .resultImg {
    width: 140px;
    margin: 10px auto;
    font-weight: 300;
  }
  .notice {
    scale: 90%;
    white-space: nowrap;
  }

  .result-ul li {
    font-size: 15px;
  }
  .result .input-box {
    width: 140px;
    height: 18px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 415px) {
  #roulette-gift {
    top: 20%;
  }
  #roulette-niddle {
    top: 23%;
    left: 46.5%;
  }
  #roulette-startBtn {
    width: 13%;
    top: 35.8%;
    left: 44.5%;
  }
  .resultLayer {
    width: 340px;
    height: 510px;
    left: 4.6%;
    top: -500px;
    border: 10px solid #67d9fd;
  }
  .congra {
    margin-top: 20px;
    font-size: 14px;
  }
  .result .resultImg {
    width: 110px;
    margin: 0 auto;
    font-weight: 300;
  }
  .notice {
    scale: 85%;
  }
  .result-ul li {
    font-size: 13px;
  }
  .result .input-box {
    width: 110px;
    height: 16px;
    margin-right: 20px;
  }
}
