@charset "utf-8";
@import url("reset.css");
@import url("variable.css");
@import url("component.css");
@import url("//js/header.js");
html {
  font-family: var(--font-family);
  color: var(--main-text-color);
}
.header_inner {
  max-width: 1580px;
  margin: auto;
}
header {
  width: 100%;
  height: 60px;
  background-color: var(--main-blue-color);
}
.top-bar {
  width: 100%;
  display: flex;
}
.top-bar-left {
  width: 14%;

  display: flex;
}
.top-bar-logo {
  width: 150px;
  position: relative;
  top: 5px;
}
.top-bar-right {
  width: 85%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}
.bar-menu-list {
  display: flex;
  line-height: 55px;
  /* justify-content: center; */
}
.bar-menu-list li a {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  padding-left: 30px;
}
.bar-menu-list li a:hover {
  color: var(--sub-yellow-color);
}
.bar-icon-list {
  display: flex;
  position: relative;
  top: 10px;
  padding-left: 60px;
}
.bar-icon-list li {
  padding-left: 20px;
}
.bar-icon-list img {
  width: var(--icon-size-large);
}
.hamburger {
  display: none;
}
.top-bar-logo-mb {
  display: none;
}
/*햄버거 바에 호버 했을 때*/
nav {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  color: #fff;
  background-color: var(--main-blue-color);
  /* font-size: var(--title-font); */
  font-size: 36px;
  padding-top: 50px;
  padding-bottom: 50px;
}
nav ul li {
  margin: 60px 0;
}
nav ul li a {
  color: #fff;
}
nav ul li a:hover {
  color: var(--sub-yellow-color);
}
nav > ul > a {
  color: #fff;
  display: block;
  position: absolute;
  left: 90%;
  top: 5%;
}
/*반응형*/
@media screen and (max-width: 768px) {
  header {
    height: 50px;
  }
  .top-bar-left {
    margin-left: 20px;
    position: relative;
    top: -5px;
  }

  .top-bar-right {
    height: 50px;
  }
  .bar-menu-list {
    display: none;
  }
  .bar-icon-list {
    align-items: center;
    /* line-height: 20px; */
    position: relative;
    top: 0px;
  }
  .bar-icon-list img {
    width: var(--icon-size-medium);
  }
  .hamburger {
    display: inline-block;
    position: relative;
    top: 0px;
  }

  .bar-icon-list {
    margin-right: 20px;
  }
}
@media screen and (max-width: 415px) {
  .menu3 {
    display: none;
  }
  .top-bar-logo-mb {
    display: block;
    /* width: 95px; */
    height: 60px;
    position: relative;
    top: 0px;
  }
  .top-bar-logo {
    display: none;
  }
}
