@charset "utf-8";

.section4 article{
    display: flex;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.section4_article{
    width: 600px;
    height: 453px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    
}
.section4 img{
    width: 100%;
}
/* section4 텍스트 */
.section4_txt{
    padding-top: 132px;
    padding-left: 80px;
}
.section4_icon{
    width: 28px;
    height: 28px;
    
}
.section4_article h3{
    font-weight: bold;
    font-size: var(--font-size-large);
}
.section4_article p{
    font-size: 18px;
}
.section4_txt ul {
    margin-top: 40px;
}
.section4_txt ul li{
    display: flex;
    gap: 8px;
    margin-bottom: 18px;
}
