@charset "utf-8";
@import url("../css/main.css");
#section3 {
  background-color: #eff9fd;
}
#section3-title {
  margin-bottom: 80px;
}
.section3-visual {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.section3 .article {
  width: 632px;
  height: 605px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.section3-visual-left {
  background-color: #fff;
}
.sec3P {
  font-size: 30px;
  margin-top: 12%;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
.visual-left-ul {
  margin-top: 30px;
  margin-left: 90px;
}
.visual-left-ul li {
  width: 79%;
  padding: 25px 21px;
  display: flex;
  gap: 14px;
  margin-bottom: 15px;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}
.ul-text p {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}
.ul-text span {
  font-size: var(--info-font-regual);
  color: #505050;
}
/* 텍스트 아이콘 */
.visual-left-ul li img {
  width: 40px;
  height: 40px;
}
/* 버튼 */
.section3-btn {
  display: block;
  position: relative;
  width: 22%;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #111;
  border-radius: 6px;
  padding: 15px 16px;
  margin-top: 48px;
  left: calc(100% / 100 * 70);
  cursor: pointer;
  box-shadow: var(--box-shadow);
}
.section3-btn:hover {
  border: 1px solid var(--main-blue-color);
  color: var(--main-blue-color);
}
/* 이미지 */
.section3-visual-right img {
  width: 100%;
  height: 100%;
}
/*반응형*/
@media screen and (max-width: 768px) {
  #section3-title {
    margin-bottom: 45px;
  }
  .section3-visual {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  .sec3P {
    font-size: 25px;
  }
  .section3-btn {
    margin: auto;
    left: 0;
    margin-top: 56px;
  }
}
@media screen and (max-width: 390px) {
  #section3-title {
    margin-bottom: 45px;
  }
  .section3 .article {
    width: 366px;
    height: 366px;
  }
  .sec3P {
    font-size: 20px;
    margin-top: 6%;
    margin-bottom: 20px;
  }

  .visual-left-ul {
    margin-top: 10px;
    margin-left: 19px;
  }
  .visual-left-ul li {
    width: 95%;
    padding: 13px 4px;
    margin-bottom: 10px;
  }
  .section3-btn {
    width: 34%;
    font-size: 14px;
    margin-top: 16px;
  }
}
