@charset "utf-8";
/* 섹션1 */
.visual1Swiper {
  width: 100%;
}
.visual1Swiper .swiper-wrapper {
  width: 100%;
}
.visual1Swiper .swiper-wrapper .swiper-slide {
  width: 100%;
}
.visual1Swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}
/* 섹션2 */

.section2-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 0 20px;
}
.section2-list li {
  width: 400px;
  height: 223px;
  border-radius: 24px;
  background-color: #eff9fd;
  box-shadow: var(--box-shadow);
}
.section2-list li img {
  display: block;
  margin: auto;
  padding-top: 15%;
  padding-bottom: 24px;
}
.section2-list li p {
  text-align: center;
  font-weight: bold;
  padding-bottom: 12px;
  font-size: 20px;
}
.section2-list li span {
  color: #505050;
  display: block;
  font-size: 18px;
  text-align: center;
}
/*반응형*/
@media screen and (max-width: 768px) {
  .section2-list {
    gap: 10px;
    padding: 0 14px;
  }
  .section2-list li {
    width: 240px;
    height: 134px;
  }
  .section2-list li p {
    padding-bottom: 8px;
    font-size: 18px;
  }
  .section2-list li span {
    font-size: var(--info-font-regual);
  }
  .section2-list li img {
    width: 36px;
    padding-top: 7%;
    padding-bottom: 18px;
  }
}
/* 모바일 */
@media screen and (max-width: 390px) {
  .section2-list {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 20px;
  }
  
}
